{
  "extends": "airbnb-base",

  "globals": {
    "HTMLElement": false,
    "window": false,
    "document": false,
    "fetch": false,
    "CustomEvent": false,
    "Headers": false,
    "history": false
  },

  "rules": {
    "no-underscore-dangle": [0]
  }
}
