* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  margin: 2rem;

  color: #333;
}

.kleene-part form {
  display: inline-block;
}

.kleene-part .select-outer, .kleene-part input, .kleene-part button, .kleene-part textarea {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  display: inline-block;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 0;
  padding: 0.5rem;

  box-shadow: none;
}

.kleene-part .select-outer {
  position: relative;
  min-width: 150px;
}

.kleene-part .select-outer:before {
  content: '\00a0';
}

.kleene-part .select-outer:after {
  display: inline-block;
  content: '➜';
  transform: rotate(90deg);

  position: absolute;
  right: 0.5rem;
  pointer-events: none;
}

.kleene-part .select-outer select {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  padding: 0 0.5rem;

  border: 0;
  border-radius: 0;
  background: transparent;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}