module.exports = () => (`

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
}

h1 {
  font-weight: normal;
}

chrono-timersplit {
  text-align: center;
}

chrono-button span.hide {
  display: none;
}

.time {
  flex-grow: 1;
}

#elapsed.paused {
  opacity: 0.5;
}

#actions {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

`);