module.exports = () => (`

:host {
}

@keyframes fade {
  0%,100% { opacity: 1 }
  50% { opacity: 0 }
}

.container {
  position: relative;
}

form {
  display: inline;
}

h1 {
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
  padding: 2rem 0;
}

chrono-timersplit {
  text-align: center;
}

chrono-button svg.hide {
  display: none;
}

#elapsed {
  z-index: 2;
}

#elapsed.paused {
  opacity: 1;
  animation: fade 1s infinite;
}

#split.hide {
  display: none;
}

.dyn {
  position: absolute;
  opacity: 1;
  visibility: hidden;
  z-index: 1;
}

.dyn.show {
  opacity: 0;
  visibility: visible;
  transition: transform 0.2s ease-out 0s, opacity 0.2s ease-out 0s;
}

`);